{% extends 'base.html' %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'project_list' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'update_issue'  issue.pk %}">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'delete_issue'  issue.pk %}">Delete</a>
    </li>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Issue Details</h1>
    {% include 'partial/card.html' with issue=issue %}
{% endblock %}